
<%= provide(:tittle, @user.name) %>
<% if current_user.admin? %>
	<h1>Company shifts</h1>

	<%= will_paginate %>

	<ul class="users">
		<table class="table_01">
			<tr>
		     <th class="big" align="center"><%= "#{@next_month_array[0].month}月" %></th>
			<% @next_month_array.each do |d| %>
				<td align="center"><%= "#{d.day}日" %></td>
			<% end %>
			</tr>
  			<%= render @users %>
  		</table>
	</ul>

	<%= will_paginate %>
<% else %>
<div class="row">
	<aside>
		<section class="span4">
			<h1>
			<%= gravatar_for @user %>
			<%= @user.company %>
			<%= @user.name %>
			</h1>
			<section>
				<%= render 'shared/shiftdate_form' %>
			</section>
		</section>
	</aside>
	<div class="span8">
    <% if @user.shiftdates.any? %>
      <h3>Shift Dates (<%= @user.shiftdates.count %>)</h3>
      <ol class="microposts">
        <%= render @shiftdates %>
      </ol>
      <%= will_paginate @shiftdates %>
    <% end %>
  	</div>
</div>
<% end %>
